<div class="container">
    <div class="wrapper">
        <form class="form-signin">
            <h2 class="form-signin-heading">Registrate</h2>
            <p class="alert-info">Tu usuario debe ser unico y tu cotraseña debe ser de al menos 5 caracteres con al menos un numero</p>
            <input type="text" class="form-control" name="username" placeholder="Elegi tu nombre de usuario" autofocus="" ng-model="usuario.nombre"/>
            <input type="password" class="form-control" name="password" placeholder="Ingresa tu contrase&ntilde;a" ng-model="usuario.password"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="registrar()">Registrarme</button>
        </form>
    </div>
</div>